:root {
  --white: #fff;
  --black: #323232;
  --green: #71A7A4;
  --purple: #502A80;
  --gray: #7F7F7F;
  --blue: #33AFE3;
  --but: #2F90CE;
  --orange: #FA6900;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--black);
  font-weight: 300;
}

img {
  max-width: 100%;
}

h1 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.65);
  line-height: 43px;
  font-size: 36px;
  text-align: center;
  color: var(--white);
  font-weight: 800;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

h2 span {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
}

h3 {
  line-height: 36px;
  font-size: 30px;
  color: var(--black);
  font-weight: 300;
}

h3 span {
  color: var(--green);
  font-weight: 700;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  transition: .6s;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: .6s;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 60px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header {
  background: var(--blue);
}

header .container {
  padding: 25px 0;
}

header .logo {
  max-width: 220px;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  padding: 10px 20px;
  background: var(--blue);
  border-radius: 0;
}

header nav ul li a:hover {
  background: var(--white);
  color: var(--blue);
  border-radius: 50px;
}

header .login a {
  padding: 8px 32px;
  background: var(--white);
  color: var(--blue);
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
}

header .login a:hover {
  background: var(--orange);
  color: var(--white);
}

.main {
  position: relative;
  background: linear-gradient(to bottom,var(--blue) ,#F9F9F9);
  overflow: hidden;
}

.main .container {
  position: relative;
  padding: 30px 0;
}

.main p {
  color: var(--white);
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.main p span {
  font-weight: 700;
}

.main p span.orange {
  color: var(--orange);
}

.main a.sign {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  background: var(--white);
  width: 290px;
  border: 1px solid var(--orange);
  color: var(--orange);
  border-radius: 10px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  z-index: 11;
}

.main a.sign:hover {
  letter-spacing: 8px;
  color: #F7931E;
  border-radius: 50px;
}

.main .ufo {
  text-align: center;
  margin-top: 50px;
  animation: ufo 1.5s infinite;
}

@keyframes ufo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.main .info {
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  z-index: 12;
  margin-top: 280px;
}

.main .info ul {
  margin-top: 30px;
  display: flex;
}

.main .info ul li a {
  margin-right: 40px;
  background: var(--but);
  color: var(--white);
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
}

.main .info ul li a:hover {
  background: var(--orange);
}

.main .info p {
  line-height: 192px;
  font-size: 160px;
  font-weight: 700;
  color: var(--green);
  font-family: 'Open Sans Condensed', sans-serif;
}

.main .tarif {
  position: relative;
  margin: 0 auto;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main .tarif .block {
  position: relative;
  padding-top: 450px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .tarif .block::after {
  position: absolute;
  content: '';
  top: 280px;
  right: -40px;
  width: 1px;
  height: 155px;
  background: #DCDCDC;
}

.main .tarif .block:nth-child(1) {
  background: url('../img/tar1.png') 50% 50% no-repeat / 96%;
}
.main .tarif .block:nth-child(2) {
  background: url('../img/tar2.png') 50% 50% no-repeat / 96%;
}
.main .tarif .block:nth-child(3) {
  background: url('../img/tar3.png') 50% 50% no-repeat / 96%;
}
.main .tarif .block:nth-child(3)::after {
  display: none;
}

.main .tarif .block p {
  color: var(--black);
  line-height: 22px;
  font-size: 18px;
  font-weight: 800;
  margin-top: 0;
}

.main .tarif .block .but {
  cursor: pointer;
  background: var(--but);
  width: 180px;
  border-radius: 5px;
  height: 35px;
  margin-top: 10px;
  transition: .6s;
}

.main .tarif .block .but:hover {
  background: var(--orange);
}

.main .tarif .block:nth-child(1):hover {
  background: url('../img/tar1hov.png') 50% 50% no-repeat / 100%;
}

.main .tarif .block:nth-child(2):hover {
  background: url('../img/tar2hov.png') 50% 50% no-repeat / 100%;
}

.main .tarif .block:nth-child(3):hover {
  background: url('../img/tar3hov.png') 50% 50% no-repeat / 100%;
}

.main .tarif .block .but p {
  color: var(--white);
  line-height: 35px;
  font-size: 14px;
}

.main .slider {
  margin-top: 100px;
  position: relative;  
  width: 100%; 
  z-index: 11;
  overflow: hidden;
}

.main .slider .slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  left: 0px;
  width: 100%;
}

.main .slider .slide .block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 100%;
  opacity: 0;
  transition: 3s;
}

.main .slider .slide #bl1 {
  opacity: 1;
}

.main .slider .slide .block .text {
  padding-bottom: 30px;
}

.main .slider .slide .block p {
  text-align: left;
  color: var(--black);
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  margin-left: 30px;
}

.main .slider .slide .block p.title {
  font-size: 34px;
  font-weight: 300;
  margin-top: 0;
  margin-left: 28px;
  line-height: 38px;
}

.main .slider .pag {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.main .slider .pag .circl {
  cursor: pointer;
  border: 3px solid #54B6D1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--white);
  transition: .6s;
}

.main .slider .pag .circl:hover {
  border-color: var(--green);
}

.main .slider .pag .active {
  border-color: var(--green);
  background: var(--green);
}

.main input {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 590px;
  width: 270px;
  height: 30px;
  outline: none;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding-left: 30px;
  z-index: 11;
  background: var(--white) url('../img/lin.png') 0% 50% no-repeat / 8%;
  font-weight: 300;
  font-size: 14px;
}

.main input::placeholder {
  color: var(--gray);
  font-family: 'Open Sans', sans-serif;;
  font-weight: 300;
  font-size: 14px;
}

.main .margin {
  margin-top: 590px;
}

.main .human {
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  width: 304px;
  height: 171px;
  background: url('../img/human.png') 50% 50% no-repeat / 100%;
  z-index: 9;
}

.main .clouds {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.main .clouds .cloud {
  position: absolute;
  z-index: 11;
}

.main .clouds .cloud.cld1 {
  top: 130px;
  left: -180px;
  width: 306px;
  height: 150px;
  background: url('../img/cloud1.png') 50% 50% no-repeat / 100%;
}

.main .clouds .cloud.cld2 {
  top: 260px;
  left: 30px;
  width: 205px;
  height: 88px;
  background: url('../img/cloud2.png') 50% 50% no-repeat / 100%;
}

.main .clouds .cloud.cld3 {
  top: 200px;
  left: 340px;
  width: 205px;
  height: 88px;
  background: url('../img/cloud2.png') 50% 50% no-repeat / 100%;
}

.main .clouds .cloud.cld4 {
  top: 270px;
  left: 450px;
  width: 348px;
  height: 201px;
  background: url('../img/cloud3.png') 50% 50% no-repeat / 100%;
}

.main .clouds .cloud.cld5 {
  top: 250px;
  left: 820px;
  width: 127px;
  height: 74px;
  background: url('../img/cloud4.png') 50% 50% no-repeat / 100%;
}

.main .clouds .cloud.cld6 {
  top: 150px;
  left: 1000px;
  width: 205px;
  height: 88px;
  background: url('../img/cloud2.png') 50% 50% no-repeat / 100%;
}

.main .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/mainBg.png') 50% 100% no-repeat / 100%;
  z-index: 10;
}

.second {
  background: linear-gradient(to bottom,#F9F9F9 ,#FFFFFF 26%,#FFFFFF 74%,#F9F9F9);
}

.second .container {
  transition: .6s;
}

.second .bord {
  border-top: 1px solid #DCDDCD;
  border-bottom: 1px solid #DCDDCD;
}

.second .wrapper {
  flex-direction: column;
}

.second .utp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.second .utp img {
  max-width: 280px;
}

.second .utp p {
  margin-top: 15px;
}

.second .utp .left {
  text-align: right;
}

.second .utp .right {
  text-align: left;
  margin-left: 30px;
}

.second .baner {
  margin-top: 30px;
  background: url('../img/second4.jpg') 50% 50% no-repeat / 100%;
  width: 100%;
  height: 290px;
  border-radius: 10px;
  border: 1px solid var(--purple);
}

.second .baner:last-child {
  border: none;
  background: url('../img/second5.jpg') 50% 50% no-repeat / 100%;
}

.second .baner .cont {
  text-align: center;
  width: 300px;
  margin-left: 80px;
  margin-top: 80px;
}

.second .baner:last-child .cont {
  margin-left: 530px;
}

.second .baner .cont p {
  font-size: 18px;
}

.second .baner:last-child .cont p {
  color: var(--white);
}

.second .baner .cont p span {
  font-weight: 800;
}

.second .baner .cont p.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
}

.second .baner .cont a {
  display: inline-block;
  margin-top: 30px;
  background: var(--purple);
  color: var(--white);
  padding: 10px 0;
  border-radius: 5px;
  width: 170px;
  font-weight: 800;
  font-size: 14px;
}

.second .baner:last-child .cont a {
  background: var(--white);
  color: var(--blue);
}

.second .baner .cont a:hover {
  background: var(--orange);
  color: var(--white);
}

.second .baner.tar {
  display: block;
  margin-top: 0;
  background: url('../img/second5.jpg') 50% 50% no-repeat / 100%;
}

.second .baner.tar .cont {
  margin-left: 600px;
  margin-top: 0;
  padding-top: 80px;
}

.contact {
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom,#73C8EC ,#FFFFFF 90%, #2b52ab 100%)
}

.contact .container {
  padding: 200px 0;
  position: relative;
  z-index: 10;
}

.contact h1 {
  margin-top: 130px;
}

.contact .bg {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/contBg.png') 50% 0% no-repeat / 100%;
  z-index: 10;
}

.contact .human2 {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 1;
  transform: translateX(-50%);
  width: 304px;
  height: 171px;
  background: url('../img/human2.png') 50% 50% no-repeat / 100%;
  z-index: 9;
}

.contact .wrapper {
  justify-content: space-evenly;
}

.contact .block {
  margin-top: 60px;
  width: 150px;
  height: 100%;
}

.contact .block a {
  display: block;
  width: 100%;
  height: 100px;
  background: url('../img/fb.png') 50% 50% no-repeat / contain;
}

.contact .block a:hover {
  background: url('../img/fbhover.png') 50% 50% no-repeat / contain;
}

.contact .block:nth-child(2) a {
  background: url('../img/telegram.png') 50% 50% no-repeat / contain;
}

.contact .block:nth-child(2) a:hover {
  background: url('../img/telegramhover.png') 50% 50% no-repeat / contain;
}

.contact .block:nth-child(3) a {
  background: url('../img/vk.png') 50% 50% no-repeat / contain;
}

.contact .block:nth-child(3) a:hover {
  background: url('../img/vkhover.png') 50% 50% no-repeat / contain;
}

.contact .block:nth-child(4) a {
  background: url('../img/insta.png') 50% 50% no-repeat / contain;
}

.contact .block:nth-child(4) a:hover {
  background: url('../img/instahover.png') 50% 50% no-repeat / contain;
}

.contact .editorial {
  position: relative;
  z-index: 21;
}

.contact .parallax > use {
  animation: move-forever 12s linear infinite;
}

.contact .parallax > use:nth-child(1) {
  animation-delay: -2s;
}

.contact .parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}

.contact .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.func {
  background: linear-gradient(to bottom,#F9F9F9 ,#FFFFFF 26%,#FFFFFF 74%,#F9F9F9);
}

.func .wrapper {
  align-items: flex-start;
}

.func .block {
  margin-top: 30px;
  max-width: 260px;
  text-align: center;
}

.func .block h4 {
  margin-top: 15px;
  font-size: 14px;
  color: #464646;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}

.func .block p {
  margin-top: 5px;
  font-weight: 400;
  font-family: 'PT Sans Narrow', sans-serif;
}

.func.part .block {
  width: 300px;
  margin-top: 60px;
}

.func.part .block:nth-child(-n+3) {
  margin-top: 0;
}

.func.part .block img {
  max-width: 100px;
}

.func.part .block p {
  color: #464646;
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.net {
  position: relative;
  background: url('../img/netbg.jpg') 50% 50% no-repeat / 100%;
}

.net .op {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.net .container {
  position: relative;
}

.net .container.part {
  padding: 100px 0;
}

.net .wrapper.part {
  justify-content: center;
  align-items: flex-end;
}

.net .block {
  max-width: 500px;
}

.net .block h2 {
  color: var(--white);
  font-size: 30px;
}

.net .block p {
  color: var(--white);
  margin-top: 15px;
}

.net .block p.num {
  font-size: 130px;
  text-align: center;
  font-weight: 800;
  padding: 0 30px;
  line-height: 104px;
}

.net .block a {
  display: inline-block;
  margin-top: 15px;
  background: var(--white);
  color: var(--but);
  width: 170px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
}

.net .block.part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.net .block p.part {
  line-height: 36px;
  font-size: 30px;
  color: #FFFFFF;
}

.net .block a:hover {
  color: var(--white);
  background: var(--orange);
}

.technical .wrapper {
  align-items: flex-start;
}

.technical .block {
  max-width: 420px;
}

.technical .block p {
  line-height: 22px;
  font-size: 18px;
  color: #464646;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.technical .block p::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  content: '';
  background: #464646;
  height: 3px;
  width: 145px;
  transform: translateX(-50%);
}

.technical .block ul {
  margin-top: 60px;
}

.technical .block ul li {
  position: relative;
  padding-left: 30px;
  line-height: 22px;
  font-size: 18px;
  color: #2C3E50;
  font-weight: 300;
}

.technical .block ul li::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 0;
  width: 17px;
  height: 17px;
  background: url('../img/rocket.png') 50% 50% no-repeat / 100%;
}

.article {
  position: relative;
  z-index: 11;
  margin-top: -270px;
  background: linear-gradient(to bottom,#F9F9F9 ,#FFFFFF 26%,#FFFFFF 74%,#F9F9F9);
}

.article .block {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article .block .text {
  margin-left: 10px;
  border: 1px solid #c8c8c8;
  background: var(--white);
  border-radius: 0px 20px 20px 0px;
  width: 500px;
  padding-right: 50px;
  height: 100px;
}

.article .block .text h4 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #464646;
  font-weight: 700;
}

.article .block .text p {
  margin-left: 10px;
  color: var(--gray);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.article .block a {
  display: block;
  background: var(--but);
  width: 170px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  font-weight: 800;
  font-size: 14px;
  margin-left: -30px;
}

.article .block a:hover {
  background: var(--orange);
}

.article ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.article ul li {
  cursor: pointer;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
}

.partner {
  position: relative;
  z-index: 11;
  margin-top: -250px;
  background: linear-gradient(to bottom,#F9F9F9 ,#FFFFFF 26%,#FFFFFF 74%,#F9F9F9);
}

.partner p {
  color: #464646;
  line-height: 17px;
}

.partner .video {
  display: flex;
  justify-content: space-between;
}

.partner .video .block {
  max-width: 480px;
}

.partner .video h2 {
  line-height: 43px;
  font-size: 36px;
  color: #464646;
}

.partner .video p:nth-child(2) {
  margin-top: 15px;
}

.partner .video p span {
  font-weight: 400;
}

.partner .text {
  text-align: center;
}

.partner .text p.title {
  margin-top: 30px;
  font-size: 18px;
}

.partner .text p.title span {
  font-weight: 800;
  line-height: 22px;
  font-size: 18px;
}

.partner .text p:nth-child(2),
.partner .text p:nth-child(5) {
  margin-top: 15px;
}

.partner .condition {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  border-top: 2px solid #DCDCDC;
  display: flex;
  align-items: center;
  text-align: center;
}

.partner .condition .block {
  max-width: 410px;
}

.partner .condition .block h2 {
  line-height: 43px;
  font-size: 32px;
  color: #464646;
}

.partner .condition .block p:nth-child(2) {
  margin-top: 30px;
}

.partner .condition .block p:nth-child(3) {
  margin-top: 15px;
}

.feed {
  position: relative;
  z-index: 11;
  margin-top: -270px;
  background: linear-gradient(to bottom,#F9F9F9 ,#FFFFFF 26%,#FFFFFF 74%,#F9F9F9);
}

.feed .block {
  max-width: 480px;
}

.feed .block p {
  color: #464646;
  line-height: 17px;
  margin-top: 15px;
}

.social {
  background: linear-gradient(to bottom,#4579E2 20% ,#3461C1 20%,#3461C1 40%, #2D55AA 40%,#2D55AA 100%);
}

.social .container {
  padding-bottom: 15px;
}

.social ul {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.social ul li {
  margin-right: 25px;
}

.social ul li:last-child {
  margin-right: 0;
}

.social ul li a:hover {
  opacity: 0.6;
}

footer {
  background: #2D55AA;
}

footer .container {
  padding: 15px 0;
}

footer a.sign {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 20px 0;
  width: 290px;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 10px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
}

footer a.sign:hover {
  letter-spacing: 10px;
  color: #F7931E;
  border-radius: 50px;
  background: var(--white);
}

footer p {
  color: var(--white);
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

footer ul.but {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer ul.but li a {
  display: inline-block;
  background: #2F90CE;
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
}

footer ul.but li:first-child {
  margin-right: 30px;
}

footer ul.but li a:hover {
  background: var(--orange);
}

footer .wrapper {
  margin-top: 30px;
  align-items: flex-end;
}

footer .pay p {
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
}

footer .pay ul {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

footer .pay ul li {
  margin-right: 10px;
}

footer .cont ul {
  display: flex;
}

footer .cont ul li:first-child {
  margin-right: 50px;
}

footer .cont ul li a {
  position: relative;
  line-height: 40px;
  padding-left: 50px;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
}

footer .cont ul li a::before {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  background: url('../img/mail.png') 50% 50% no-repeat / 100%;
  width: 40px;
  height: 40px;
}

footer .cont ul li:last-child a {
  text-decoration: underline;
}

footer .cont ul li:last-child a::before {
  background: url('../img/checklist.png') 50% 50% no-repeat / 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0;
  transition: .3s;
}

.popup .opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200,200,200,0.9);
}

.popup .cont {
  padding: 30px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 220px;
  background: var(--white);
}

.popup .cont .close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 700;
  line-height: 20px;
  color: var(--blue);
}

.popup .cont p {
  text-align: center;
  color: var(--gray);
  font-weight: 400;
}

.popup .cont form {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popup .cont form input {
  margin-top: 10px;
  outline: none;
  height: 28px;
  border: 1px solid #aaa;
  padding-left: 5px;
  color: var(--gray);
  transition: .6s;
  -webkit-appearance: none;
  line-height: 28px;
}

.popup .cont form input:first-child {
  margin-top: 0;
}

.popup .cont form textarea {
  margin-top: 10px;
  outline: none;
  resize: none;
  height: 70px;
  padding-left: 5px;
  border: 1px solid #aaa;
  color: var(--gray);
  transition: .6s;
  -webkit-appearance: none;
}

.popup .cont form input::placeholder,
.popup .cont form textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

.popup .cont form input:hover::placeholder,
.popup .cont form textarea:hover::placeholder {
  color: var(--gray);
}

.popup .cont form input:focus::placeholder,
.popup .cont form textarea:focus::placeholder {
  color: var(--gray);
  font-style: normal;
}

.popup .cont form input:focus,
.popup .cont form textarea:focus {
  border-color: var(--gray);
}

.popup .cont form button {
  margin-top: 10px;
  border: 1px solid var(--blue);
  color: var(--blue);
  text-transform: uppercase;
  height: 32px;
}

.popup .cont form button:hover {
  background: #f2f2f2;
}

.popupTarif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0;
  transition: .3s;
}

.popupTarif .opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200,200,200,0.9);
}

.popupTarif .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--white);
  width: 740px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.popupTarif .content .close {
  cursor: pointer;
  position: absolute;
  top: -2px;
  right: 3px;
  font-weight: 700;
  line-height: 20px;
  color: var(--blue);
}

.popupTarif .content .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 71px;
  text-align: center;
}

.popupTarif .content .block:nth-child(2) {
  max-width: 230px;
  text-align: left;
  align-items: flex-start;
}

.popupTarif .content .block:nth-child(2) p {
  font-weight: 700;
}

.popupTarif .content p.title {
  margin-top: 80px;
}

.popupTarif .content img {
  max-height: 27px;
  margin-top: 5px;
}

.popupTarif .content img:first-child {
  margin-top: 0;
  max-width: 60px;
  max-height: 60px;
}

.popupTarif .content h4 {
  margin-top: 10px;
  font-weight: 700;
  color: #464646;
  font-size: 12px;
  height: 24px;
}

.popupTarif .content p {
  margin-top: 5px;
  line-height: 27px;
  font-size: 12px;
}

.popupTarif .content a {
  color: var(--white);
  background: var(--orange);
  font-weight: 800;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 5px;
}

.popupTarif .content a:hover {
  background: var(--but);
}
.toggle_mnu{
  display: none;
}
.top_mnu .login{
  display: none;
}